In [63]:
import pandas as pd
import seaborn as sns

In [64]:
avo_df = pd.read_csv('avocado.csv', usecols = ['Date', 'AveragePrice', 'year', 'region'])

avo_df.head()

         Date  AveragePrice  year  region
0  2015-12-27          1.33  2015  Albany
1  2015-12-20          1.35  2015  Albany
2  2015-12-13          0.93  2015  Albany
3  2015-12-06          1.08  2015  Albany
4  2015-11-29          1.28  2015  Albany

In [65]:
avo_df = avo_df.loc[avo_df.region == 'Atlanta']

avo_df.head()

          Date  AveragePrice  year   region
52  2015-12-27          0.99  2015  Atlanta
53  2015-12-20          1.08  2015  Atlanta
54  2015-12-13          0.96  2015  Atlanta
55  2015-12-06          1.07  2015  Atlanta
56  2015-11-29          0.99  2015  Atlanta

In [66]:
avo_df.shape

(338, 4)

In [67]:
df_15 = pd.read_csv('unmerged-census-data/2015-atlanta-census.csv', header=0, names=['group', '2015'])
df_16 = pd.read_csv('unmerged-census-data/2016-atlanta-census.csv', header=0, names=['group', '2016'])
df_17 = pd.read_csv('unmerged-census-data/2017-atlanta-census.csv', header=0, names=['group', '2017'])
df_18 = pd.read_csv('unmerged-census-data/2018-atlanta-census.csv', header=0, names=['group', '2018'])

In [68]:
cens_df = pd.merge(df_15, df_16['2016'], left_index=True, right_index=True, how = 'left')
cens_df = pd.merge(cens_df, df_17['2017'], left_index=True, right_index=True, how = 'left')
cens_df = pd.merge(cens_df, df_18['2018'], left_index=True, right_index=True, how = 'left')

cens_df['2015'] = cens_df['2015'].str.replace(',', '').astype(int)
cens_df['2016'] = cens_df['2016'].str.replace(',', '').astype(int)
cens_df['2017'] = cens_df['2017'].str.replace(',', '').astype(int)
cens_df['2018'] = cens_df['2018'].str.replace(',', '').astype(int)

cens_df

,group,2015,2016,2017,2018
0,Total:,463875,472506,486299,498073
1,Not Hispanic or Latino:,445222,449408,465421,475094
2,White alone,176998,178077,179296,189230
3,Black or African American alone,239159,237590,253556,252493
4,American Indian and Alaska Native alone,652,951,374,495
5,Asian alone,20335,20253,19551,19875
6,Native Hawaiian and Other Pacific Isla...,147,170,0,142
7,Some other race alone,265,481,2129,1324
8,Two or more races:,7666,11886,10515,11535
9,Two races including Some other race,405,1236,144,471
10,Two races excluding Some other rac...,7261,10650,10371,11064
11,Hispanic or Latino:,18653,23098,20878,22979
12,White alone,12155,12815,11119,14285
13,Black or African American alone,1440,2612,3332,1277
14,American Indian and Alaska Native alone,651,1944,330,323
15,Asian alone,81,197,0,144
16,Native Hawaiian and Other Pacific Isla...,316,39,0,0
17,Some other race alone,2282,3482,4409,5214
18,Two or more races:,1728,2009,1688,1736
19,Two races including Some other race,529,578,766,571
20,Two races excluding Some other rac...,1199,1431,922,1165

In [71]:
cens_df = cens_df.iloc[12].replace('White alone', 'H - White alone', inplace= True)
cens_df

AttributeError: 'NoneType' object has no attribute 'iloc'

In [70]:
years = ['2015', '2016', '2017', '2018']

# piv_cens = cens_df.pivot_table(columns = 'group', index = years)

piv_cens = pd.pivot_table(data = cens_df, values =['2015', '2016', '2017', '2018'], columns="group")

piv_cens

TypeError: argument of type 'NoneType' is not iterable

In [ ]:
piv_cens.shape

(4, 12)

In [ ]:
cens_df.to_excel(excel_writer= 'atlanta-census.xlsx' , sheet_name='2015-2018')

In [ ]:
piv_cens.to_excel(excel_writer= 'piv_atlanta-census.xlsx', sheet_name= '2015-2018')

In [ ]:
'''
THINGS TO DO:
-Change Hispanic to H-
-
'''

'\nTHINGS TO DO:\n-Change Hispanic to H-\n-\n'